@import 'pl/marcinchwedczuk/paintme/gui/Base';

.mainWindow {
    .vbox {
        -fx-spacing: 20px;
        -fx-alignment: center;
    }

    .button {
        // Variable imported from _Base.scss
        -fx-text-fill: $example-variable;
    }
}

// Make text area transparent
.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}


